.parallax {
    background-image: url(/assets/Parallax.JPG);
    min-height: 440px;
    min-width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}