.slideContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 3%;
    margin-top: 60px;
}

.slideContainer::-webkit-scrollbar {
    display: none;
  }

.slide {
    width: 1245px;
    height: 532.5px;
    margin-left: 25px;
    border-radius: 5px;
    background-size: 100%;
    background-position: 60% 32%;
    background-repeat: no-repeat;
    -web-kit-transition: background-size 700ms ease-out;
    transition: background-size 700ms ease-out;
}

.slide:hover {
    background-size: 105%;
}

.slide > div {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 100px;
    color: white;
}

.slide > div > h3 {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin-left: 50px;
}

.slide > div > p:nth-child(2) {
    font-family: LouvreSerif, Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 0px;
    margin-left: 50px;
    max-width: 900px;
}

.slide > div > p:nth-child(3) {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 50px;
    margin-top: -10px;
    margin-left: 50px;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.right {
    width: 35px;
    height: 35px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.right div {
    background-image: url(/assets/right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 25px;
    margin-top: 1px;
    background-position: center;
    filter: invert(100%) sepia(0%) saturate(5429%) hue-rotate(287deg) brightness(126%) contrast(107%);
}

.circle {
    border-radius: 100%;
    background-color: #c2c2c2;
    height: 6px;
    width: 6px;
    margin-top: 1px;
    margin-left: 3px;
}

.circle2 {
    border-radius: 100%;
    background-color: black;
    height: 8.5px;
    width: 8.5px;
    margin-left: 3px;
}

.controls-container > div {
    display: flex;
    margin-left: 10px;
}

.otro {
    display: flex;
    height: 100%;
}